<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.aguido.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="br.com.aguido.weather.permission.C2D_MESSAGE" />

    <application
        android:name="br.com.aguido.weather.appManagement.WeatherApplication"
        android:icon="@drawable/ic_launcher_darkblue"
        android:label="@string/app_name"
        android:theme="@style/WeatherReportsTheme">

        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:resource="@dimen/app_defaultsize_w" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:resource="@dimen/app_defaultsize_h" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:resource="@dimen/app_minimumsize_w" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:resource="@dimen/app_minimumsize_h" />

        <activity android:name="br.com.aguido.weather.ui.splash.Notification"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WeatherReportsTheme">
        <intent-filter>
            <action android:name="br.com.aguido.weather.service.MyFirebaseMessagingService" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <activity android:name="br.com.aguido.weather.ui.login.LoginActivity_"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WeatherReportsTheme"/>

        <activity android:name="br.com.aguido.weather.ui.login.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WeatherReportsTheme"/>

        <activity android:name="br.com.aguido.weather.ui.splash.SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WeatherReportsTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            <action android:name="android.intent.action.VIEW" />
        </intent-filter>
        </activity>

        <activity
            android:name="br.com.aguido.weather.ui.home.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/WeatherReportsTheme.Blue" />

        <service
            android:name="br.com.aguido.weather.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="138a56c76bbf76121b1e0c5fca3991bafd0e2d3b"
            />

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_push" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming notification message. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black_weather" />

    </application>

</manifest>
